{
    "app": {
        "port": 3000
    },

    "jwt": {
        "expiresIn": "1h"
    },

    "db": {
        "name": "<Database Name>",
        "username": "<Database Username For Server>",
        "password": "<Database Password For Server>"
    },

    "password": {
        "saltRounds": 8
    },

    "protectedFields": ["password", "pass", "newPass", "newPassConf", "oldPass", "hash", "username", "secret", "signature", "initVector"],

    "mailer": {
        "apiKey": "<SendGrid API Key>",
        "subjectPrefix": "[<Your Prefix>] ",
        "routes": {
            "userVerification": "auth/verify-token",
            "passwordReset": "auth/reset-password",
        },
        "fromEmail": "someone@someone.com"
    },

    "urls": {
        "baseUrl": "http://localhost:3001/",
        "uiBaseUrl": "http://localhost:3001/"
    },

    "sms": {
        "fromPhone": "<Twilio Phone Number>",
        "sid": "<Twilio SID>",
        "authToken": "<Twilio Auth Token>",
        "routes": {

        }
    },

    "maps": {
        "apiKey": "<Google Maps API Key>"
    },

    "mqtt": {
        "mosca": {
            "port": 1883
        },
        "commands": {
            
        }
    }
}
